.card {
    padding: 15px;
    border-radius: 16px;
    width: 200px;
    height: 150px;
    background-color: rgb(255, 135, 23);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-balance {
    padding: 1px;
    justify-content: space-around;
}